aiohttp==3.8.3
aiosignal==1.3.1
anthropic==0.2.8
anyio==3.6.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==2.1.1
distlib==0.3.6
filelock==3.12.0
frozenlist==1.3.3
h11==0.14.0
httpcore==0.17.1
httpx==0.24.1
idna==3.4
multidict==6.0.4
openai==0.27.2
platformdirs==3.5.1
python-dotenv==1.0.0
PyYAML==5.4.1
regex==2023.5.5
requests==2.30.0
six==1.16.0
sniffio==1.3.0
tiktoken==0.4.0
tokenizers==0.13.3
tqdm==4.65.0
urllib3==1.26.14
vcrpy==4.2.1
virtualenv==20.19.0
wrapt==1.15.0
yarl==1.9.2
